################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bc.speedy/obj
/bc.speedy/.vs/bc.speedy/v17
/.vs/speedy-schema/v17/.suo
/.vs/VSWorkspaceState.json
/bc.speedy/bin/Debug/net5.0
/bc.speedy/.vs/bc.speedy/FileContentIndex/849a5d71-da65-4b4e-87e1-bcac6d668cd9.vsidx
/bc.speedy/.vs/bc.speedy/DesignTimeBuild/.dtbcache.v2
/bc.speedy/.vs/bc.speedy/FileContentIndex/afad902f-9833-4243-98d5-7ce60693a1b6.vsidx
/bc.speedy/.vs/bc.speedy/FileContentIndex/d14fb2fb-c597-4b12-b275-b840facb6110.vsidx
