################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bc.speedy/obj
/bc.speedy/.vs/bc.speedy/v17
/.vs/speedy-schema/v17/.suo
/.vs/VSWorkspaceState.json
